# Handle line endings automatically for files detected as text
# and leave all files detected as binary untouched.
* text=auto

#
# The above will handle all files NOT found below
#

#
## These files are text and should be normalized (Convert crlf => lf)
#

# source code
*.css text
*.js text
*.json text
*.htm text
*.html text
*.svg text
*.txt text
*.ini text
*.rb text
*.py text
*.sql text
*.sh text
*.bat text

# git config
.gitattributes text
.gitignore text
.gitconfig text

# code analysis config
.jshintrc text
.jscsrc text
.jshintignore text
.csslintrc text

# misc config
*.yaml text
*.yml text
.editorconfig text

# build config
*.npmignore text
*.bowerrc text

# Heroku
Procfile text
.slugignore text

# Gitlab
.gitlab-ci.yml

# Documentation
*.md text
LICENSE text
AUTHORS text
