image: node:6

services:
  - mongo:3.3

before_script:
  - npm install

stages:
  - run
  - test

variables:
  TEST_URI: "ws://localhost:8090"
  SERVER_PORT: "8090"
  SERVER_ADDR: "::"
  DB_HOST: "mongodb://mongo"
  DB_PORT: "27017"
  DB_NAME: "contentloops"

job_start:
  stage: run
  script:
    - npm run deploy
  only:
    - devel
    - /^feature\/.*$/

job_test:
  stage: test
  script:
    - npm run testing
