version: '2'
services:
  cl2-web:
    image: node:latest
    command: npm run deploy
    working_dir: /app
    ports:
     - "8090:8090"
    volumes:
     - .:/app
    depends_on:
     - cl2-mongo
  cl2-mongo:
    image: mongo:latest
    #volumes:
    # - ./.data/mongo:/data/db